# .npmrc文件配置

# 配置仓库：
registry=https://registry.npmmirror.com/
home=https://npm.taobao.org

# 配置node-sass等模块仓库：
sass_binary_site=https://repo.huaweicloud.com/node-sass
phantomjs_cdnurl=https://repo.huaweicloud.com/phantomjs
chromedriver_cdnurl=https://repo.huaweicloud.com/chromedriver
operadriver_cdnurl=https://repo.huaweicloud.com/operadriver
