/* ==================
  文字大小
 ==================== */

 .text-xs {
	font-size: 20rpx;
}

.text-sm {
	font-size: 24rpx;
}

.text-df {
	font-size: 28rpx;
}

.text-lg {
	font-size: 32rpx;
}

.text-xl {
	font-size: 36rpx;
}

.text-xxl {
	font-size: 44rpx;
}

.text-sl {
	font-size: 80rpx;
}

.text-xsl {
	font-size: 120rpx;
}
