// 方形内容显示
.square {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;

  .con {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .img {
    width: 100%;
    height: 100%;
  }
}
