/* ==================
      镂空按钮 颜色
 ==================== */

.line-red {
  color: #e54d42;
}

.line-orange {
  color: #f37b1d;
}

.line-yellow {
  color: #fbbd08;
}

.line-olive {
  color: #8dc63f;
}

.line-green {
  color: #39b54a;
}

.line-cyan {
  color: #1cbbb4;
}

.line-blue {
  color: #0081ff;
}

.line-purple {
  color: #6739b6;
}

.line-mauve {
  color: #9c26b0;
}

.line-pink {
  color: #e03997;
}

.line-brown {
  color: #a5673f;
}

.line-grey {
  color: #8799a3;
}

.line-gray {
  color: #aaaaaa;
}

.line-black {
  color: #333333;
}

.line-white {
  color: #ffffff;
}
