/* ==================
      镂空按钮 粗边框 颜色
 ==================== */

.lines-red {
  color: #e54d42;
}

.lines-orange {
  color: #f37b1d;
}

.lines-yellow {
  color: #fbbd08;
}

.lines-olive {
  color: #8dc63f;
}

.lines-green {
  color: #39b54a;
}

.lines-cyan {
  color: #1cbbb4;
}

.lines-blue {
  color: #0081ff;
}

.lines-purple {
  color: #6739b6;
}

.lines-mauve {
  color: #9c26b0;
}

.lines-pink {
  color: #e03997;
}

.lines-brown {
  color: #a5673f;
}

.lines-grey {
  color: #8799a3;
}

.lines-gray {
  color: #aaaaaa;
}

.lines-black {
  color: #333333;
}

.lines-white {
  color: #ffffff;
}
