.dark {
  /* 主体颜色 */
  --text-main-color: #303133;
  --text-content-color: #606266;
  --text-tips-color: #909193;
  --text-light-color: #c0c4cc;
  --border-color: #dadbde;
  --bg-color: #f3f4f6;
  --disabled-color: #c8c9cc;

  /* 主题颜色 */
  --primary: #3c9cff;
  --primary-dark: #398ade;
  --primary-disabled: #9acafc;
  --primary-light: #ecf5ff;

  /* 警告颜色 */
  --warning: #f9ae3d;
  --warning-dark: #f1a532;
  --warning-disabled: #f9d39b;
  --warning-light: #fdf6ec;

  /* 信息颜色 */
  --info: #909399;
  --info-dark: #767a82;
  --info-disabled: #c4c6c9;
  --info-light: #f4f4f5;

  /* 成功颜色 */
  --success: #5ac725;
  --success-dark: #53c21d;
  --success-disabled: #a9e08f;
  --success-light: #f5fff0;

  /* 错误颜色 */
  --error: #f56c6c;
  --error-dark: #e45656;
  --error-disabled: #f7b2b2;
  --error-light: #fef0f0;

  /* 预设颜色 */
  --red: #e54d42;
  --orange: #f37b1d;
  --yellow: #fbbd08;
  --olive: #8dc63f;
  --green: #39b54a;
  --cyan: #1cbbb4;
  --blue: #0081ff;
  --purple: #6739b6;
  --mauve: #9c26b0;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #8799a3;
  --gray: #aaaaaa;
  --black: #333333;
  --white: #ffffff;
}
